<html>
    <head>
        <title>
            Longform..!
        </title>
    </head>
    <body>
        <h1>
            Let's talk about stuff.
        </h1>
        <p>
            {{ content | safe }}
        </p>
    </body>
</html>